<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.foodamigo.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!-- <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.component.activity.LoginActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".ui.component.activity.Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.component.activity.PlaceOrderActivity"
            android:label="@string/title_activity_place_order">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.component.activity.Home" />
        </activity>

        <!--<service
            android:name=".service.sync.AuthenticatorService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".service.sync.StubProvider"
            android:authorities="in.co.foodamigo.foodapp"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".service.sync.SyncService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>-->

    </application>

</manifest>
